extends parts/layout

block scripts 
    //- script(src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js" defer)
    //- script(src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js" defer)
    //- script(src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js" defer)
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" defer) 

block content
    h2 Login

    section 
        form(action="/login" method="post")
            label Login 
            input(type="text" name="login")
            label Password 
            input(type="password" name="password")
            input(type="submit" value="Log In")

    //- script. 
    //-     window.addEventListener("DOMContentLoaded", () => {
    //-         const firebaseConfig = {
    //-             apiKey: "AIzaSyAxg7j8qrvf4hIIpIXpbi3_iV0CSYvESg8",
    //-             authDomain: "skinner-consulting-portal.firebaseapp.com",
    //-             projectId: "skinner-consulting-portal",
    //-             storageBucket: "skinner-consulting-portal.appspot.com",
    //-             messagingSenderId: "809901990738",
    //-             appId: "1:809901990738:web:f0bbd314d4bd871800108b"
    //-         };

    //-         firebase.initializeApp(firebaseConfig);

    //-         firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    //-         document 
    //-             .getElementById("login")
    //-             .addEventListener("submit", (event) => {
    //-                 event.preventDefault();

    //-                 const login = event.target.login.value;
    //-                 const password = event.target.password.value;

    //-                 firebase 
    //-                     .auth()
    //-                     .signInWithEmailAndPassword(login, password)
    //-                     .then(({user}) => {
    //-                         return user.getIdToken().then((idToken) => {
    //-                             return fetch("/sessionLogin", {
    //-                                 method: "POST",
    //-                                 headers: {
    //-                                     Accept: "application/json",
    //-                                     "Content-Type": "application/json",
    //-                                     "CSRF-Token": Cookies.get("XSRF-TOKEN"),
    //-                                 },
    //-                                 body: JSON.stringify({ idToken }),
    //-                             });
    //-                         });
    //-                     })
    //-                     .then(() => {
    //-                         return firebase.auth().signOut();
    //-                     })
    //-                     .then(() => {
    //-                         window.location.assign("/account")
    //-                     });
    //-                 return false;
    //-             });
    //-         });
