extends parts/layout

block content 
    h2 Tickets 
    ul
        each val in tickets
            li= val._id + ' ' + val.issue
    
    form(action="/tickets/createTicket" method="post")
        input(name="id" value="1" hidden)
        input(name="issue" type="text")
        input(type="submit")