doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title #{title}
        style
            include /css/styles.css
            //- include /css/bootstrap.css
        block scripts 
            script(type="text/javascript" src="/js/scripts.js" defer)
            //- script(type="text/javascript" src="/js/bootstrap.js" defer)
    body
        include navbar

        section(class="container")
            block content